.category-frame {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.category-frame > a {
    margin: 0 1rem;
    width: 14rem;
    font-size: 1.4rem;
}