.category-frame {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}

.category-frame > a {
    margin: 0 2rem;
    width: 20rem;
    font-size: 1.4rem;
}