@media(max-width: 680px) {
    html {
        font-size: 12px;
    }

    .depo-content {
        flex-direction: column !important;
        align-items: center;
    }

    .depo-infos {
        align-items: center !important;
    }
}

.depo-frame {
    width: 80%;
    margin: 2rem;
    margin-bottom: 8rem;
}

.depo-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.depo-infos {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.depo-results {
    width: 100%;
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 5rem;
}

.depo-info {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin: 1rem 0;
}

.depo-hint {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1rem;
}

.depo-result {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin: 0.4rem 0;
}

.depo-info>div:first-child {
    font-weight: 600;
}

.depo-info>input {
    margin: 0 1rem;
    border-radius: 10px;
    text-align: right;
    font-size: 1.2rem;
    border: 1px solid #c6c6c6;
}

.depo-result>div:nth-child(2) {
    margin: 0 1rem;
    border-radius: 10px;
    text-align: right;
    font-size: 1.2rem;
}

.depo-hint>button {
    margin: 0 0.3rem 1rem 0.3rem;
}

.depo-summit>button {
    padding: 0.4rem 2rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}


.depo-result:last-child div {
    font-size: 1.6rem;
}

.depo-result:last-child div:first-child {
    font-weight: 600;
}

.depo-table {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
}