.saving-frame {
    width: 80%;
    margin: 4rem 4rem 8rem 4rem;
}

.saving-content {
    width: 100%;
    display: flex;
    align-items: flex-end;
}

@media(max-width: 680px) {
.saving-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.saving-infos {
    align-items: center !important;
}
}

.saving-infos {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.saving-results {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 5rem;
}

.saving-info {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin: 1rem 0;
}

.saving-hint {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-size: 1rem;
}

.saving-result {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin: 0.4rem 0;
}

.saving-info>div:first-child {
    font-weight: 600;
}

.saving-info > input {
    margin: 0 1rem;
    border-radius: 10px;
    text-align: right;
    font-size: 1.2rem;
    border: 1px solid #c6c6c6;
}

.saving-result > div:nth-child(2) {
    margin: 0 1rem;
    border-radius: 10px;
    text-align: right;
    font-size: 1.2rem;
}

.saving-hint > button {
    margin: 0 0.3rem 1rem 0.3rem;
}

.saving-summit > button {
    padding: 0.4rem 2rem;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}


.saving-result:last-child  div {
    font-size: 1.6rem;
}

.saving-result:last-child  div:first-child {
    font-weight: 600;
}

.saving-table {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
}